.venv
**.egg-info
datasets/
*.pt
*.pth
*.xml
*.iml
*.mp4
*.json
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ttl
*.pkl
*.log
**/__pycache__/

# v3 run-artifacts (models, kg index, caches, query sets, plan data, logs, libs)
v3/artifacts/
